@model PedeRoca.Models.Entities.Contato

@{
    ViewData["Title"] = "ADMDetails";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<h1 class="titulo_ADMTable">Conteúdo da Mensagem</h1>


<section class="formatacaoTabelas">
    <div>
        <div class="d-flex">
            <p class="RemententeTitulo">Remetente:</p>
            <p class="RemententeMensagem">@Html.DisplayFor(model => model.Email)</p>
        </div>

        <p class="TituloConteudoMensagem">Conteúdo</p>
        <p class="textArea">
            @Html.DisplayFor(model => model.Conteudo)
        </p>
    </div>
    <div>
        <a asp-action="ADMMenssagens">Voltar</a>
    </div>
</section>

