@using Newtonsoft.Json;

@{
    if (Context.Session.GetString("login") != null)
    {
        var resultadoSessao = Context.Session.GetString("login");
        var login = JsonConvert.DeserializeObject<Pessoa>(resultadoSessao);
        var id = login.Id_usuario ;
        var usuario = login.Nome;
        var tipo = login.Tipo;
        //.. chamar todas as variáveis do LoginResultado no método GetTipo do repositório LoginDAO

        ViewData["Id"] = id;
        ViewData["Usuario"] = usuario;
        ViewData["Tipo"] = tipo;
        //.. Caso tenha mais variáveis ViewData, se houver mais variáveis acima
    }
}



<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PedeRoca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estilo.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.css" rel="stylesheet">
</head>
<body>

    <header>
        <!--  HEADER MOBILE-->
        <nav>
            <div class="caixaLogoM d-md-none">
                <img src="~/imagens/logo/logo - pede roça2.svg" class="ajusteLogoMobile" alt="Pede Roça"/>
                @* <img class="ajusteLogoMobile" src=" ~ /imagens/logo/logo - pede roça.svg" alt="Pede Roça"> *@
            </div>
        </nav>

        <!-- BARRA DE NAVEGAÇÃO MOBILE DO SITE -->
        <nav class="d-flex justify-content-around align-items-center fixed-bottom navMobile d-md-none">
            <div>
                <a class="ajusteLinkNavMobile" asp-controller="Sobre" asp-action="Index"><i class="bi bi-buildings navImgDesktop"></i></a>
                <p class="nomeLinkMobile">Sobre</p>
            </div>
            <div>
                <a class="ajusteLinkNavMobile" asp-controller="Produto" asp-action="Carrinho"><i class="bi bi-cart2 navImgDesktop"></i></a>
                <p class="nomeLinkMobile">Carrinho</p>
            </div>
            <div class="ativoNavDeskop">
                <a class="ajusteLinkNavMobile" asp-controller="Produto" asp-action="Index"><i class="bi bi-house navImgDesktop"></i></a>
                <p class="nomeLinkMobile">Home</p>
            </div>
            <div>
                <a class="ajusteLinkNavMobile" asp-controller="Pessoa" asp-action="Usuario"><i class="bi bi-people navImgDesktop"></i></a>
                <p class="nomeLinkMobile">Usuário</p>
            </div>
            <div>
                <a class="ajusteLinkNavMobile" asp-controller="Pessoa" asp-action="Login"><i class="bi bi-person-circle navImgDesktop"></i></a>
                <p class="nomeLinkMobile">Login</p>
            </div>
@*             @if (ViewData["Usuario"]?.ToString() != null)
            {
                <div>
                    <a class="ajusteLinkNavMobile" asp-controller="Pessoa" asp-action="Logout"><i class="bi bi-person-circle navImgDesktop"></i></a>
                    <p class="nomeLinkMobile">Logout</p>
                </div>
            }
            else
            {
                <div>
                    <a class="ajusteLinkNavMobile" asp-controller="Pessoa" asp-action="Login"><i class="bi bi-person-circle navImgDesktop"></i></a>
                    <p class="nomeLinkMobile">Login</p>
                </div>
            } *@

        </nav>

        <!-- BARRA DE NAVEGAÇÃO DESKTOP-->
        <nav class="navbar navbar-expand-md navbar bg-light desktopNavbar">
            <div class="container">
                <div id="navbarNav" class="bgLinksNav">
                    <ul class="navbar-nav">
                        <li class="nav-item botaoPadraoNav-ativo">
                            <a class="nav-link linkPadraoNav-ativo" asp-controller="Produto" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linkPadraoNav" asp-controller="Produto" asp-action="Carrinho">
                                <i class="bi bi-cart tamanhoCarrinhoNav"></i>Carrinho
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linkPadraoNav" asp-controller="Sobre" asp-action="Index">Sobre</a>
                        </li>
                    </ul>
                </div>
                <div id="navbarNav">
                    <a class="nav-item linkPadraoNav" asp-controller="Produto" asp-action="ADMProduto">
                        <img src="~/imagens/logo/logo - pede roça.svg " class="ajusteLogo" alt="Pede Roça" />
                    </a>
                </div>
                <div id="navbarNav" class="bgLinksNav">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link linkPadraoNav" asp-controller="Pessoa" asp-action="Usuario">Usuário</a>
                        </li>
                        @{
                            if (ViewData["Tipo"]?.ToString() != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link linkPadraoNav" asp-controller="Pessoa" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link linkPadraoNav" asp-controller="Pessoa" asp-action="Login">Login</a>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link linkPadraoNav" asp-controller="Pessoa" asp-action="Cadastro">Cadastre-se</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <span class="fimPaginaMobile d-md-none"></span>

    <footer id="footer" class="d-none d-md-block fixed-bottom">
        <p class="footerText">
            <i class="bi bi-c-circle"></i> Todos os direitos reservados aos alunos Hugo, Gabriel e Daniel
            - Fatec Matão
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/FiltroPesquisa.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.js"></script>
    <script src="~/js/_cardPrecoTotal.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
