
// Sobrescreva qualquer variável do SASS usando o "!default" na frente da modificação
//* ex: $primary: red !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


/*----Fontes-------*/
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');



// Then add additional custom code here

/*! ------------- header - Cabeçalho --------------- !*/
body {
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
  background: #F2D98D;
}
.ajusteLogo {
  width: 150px;
  margin: 10px 20px;
}

.bgBanner {
  background: linear-gradient(to left, #7C8C03, #f2f2f2, #7C8C03);

}
.fraseBranner {
  margin: 45px 10px;
  text-transform: uppercase;
  text-align: center;
  color: #f2f2f2;
}

/*! ------------- header - Barra de navegação  --------------- !*/
@media only screen and (max-width: 767px) {
  .desktopNavbar {
    display: none;
  }
}

/* Estilos para desktops */
@media only screen and (min-width: 768px) {
  .mobileNavbar {
    display: none;
  }
}

/*------------- HEADER - BARRA NAVEGAÇÃO MOBILE --------------- */
.detalheNav {
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(to top, rgba(242, 217, 141, 1), #f2f2f2);
}

.tituloNav {
  font-family: 'Merienda', Times, serif;
  color: #A83C01;
}

.btnPesquisaMobile {
  background: #7C8C03;
  border-radius: 0px 5px 5px 0px;
}

.btnPesquisaMobile:hover, .active2 {
  background: rgba(124, 140, 3, 0.5);
  border-radius: 0px 5px 5px 0px;
  border-radius: 5px;
}

.linkNavMobile {
  text-decoration: none;
  color: black;
}

.efeitoMouse:hover {
  background: #7C8C03;
  padding-left: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

.efeitoMouse:active {
  background: #7C8C03;
  padding-left: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

.ajusteGmail, .configImgMobile, {
  width: 30px;
}

.bgNav {
  margin-bottom: 8px;
  box-shadow: 0px 0px 5px 5px #2f2f2f70;
}

.LinkBarraMobile {
  color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
}

.editListaMobile {
  list-style: none;
  background: #7C8C03;
  padding: 5px;
  border-radius: 5px;
}
/*---------- NAVEGAÇÃO DESKTOP -----------*/

.efeitoMouseDesktop:hover {
  background: #7C8C03;
  border-radius: 5px;
  transition: 0.5s;
}

.efeitoMouseDesktop:active {
  background: #7C8C03;
  border-radius: 5px;
  transition: 0.5s;
}

/*-------Main--------*/
.imagemCarrossel {
  width: 200px;
}

.tamanhoCarrocel {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.filtroNav {
  background: #7C8C03;
  color: #f2f2f2;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 5px #2f2f2f70;
  border-radius: 10px;
}

.filtroNav h5 {
  margin: 10px;
  text-align: center;
  padding-top: 15px;
  text-transform: uppercase;
}

.coluna {
  column-count: 3;
  column-gap: 10px;
  column-rule-style: solid;
  -ms-grid-column-align: center;
  text-transform: uppercase;
}

.colunaItem {
  margin: 0px 10px;
}